html {
    scroll-behavior: smooth;
    background: white;
  }

.content {
    display:none;
    background: white;
    color:black;
}

.preload {
    height: 100%;
    width:5px;
    position: fixed;
    left: 0px;
    top: 0px;
    overflow-x: hidden;
    background:black;
    text-align:center;
    z-index:999;
}

 .counter, .percent{
   font-size: 90px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight:800;
   position: relative;
   top: 43%;
   color: white;
 }


 .MainSection {
    height: 100vh;
    overflow: hidden;
    border-bottom: 3px solid aqua;
    margin-bottom: 25px;
 }

 .myVideo {
     width: 100%;
 }

 .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: white;
    font-size: 70px;
   
 }

 .type {
  
    font-size: 70px;

 }

 .SecondSection {
    text-align: center;
    border-bottom: 3px solid aqua;
    
 }

 .menu {
     position: fixed;
     width: 50px;
     height: 100vh;
     z-index: 999999;
     text-align: center;
     top: 15%;
     mix-blend-mode: difference;
     color: white;
 }

 .menuItem {
    height: 150px;
    padding: 5px;

 }

 .menuText {
    color: #fff;
    display: block;
    transform: rotate(-90deg) translate(-70px, 12px);
    -webkit-transform: rotate(-90deg) translate(-70px, 12px);
    white-space: nowrap;
    line-height: 0px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;

 }

 .AboutMeHeader {
     text-align: center;
     letter-spacing: 5px;
    font-size: 60px;
    font-family: 'Fira Sans', sans-serif;
    color: black;
    


 }
 .accessory {
    height: 6px;
    background-image: radial-gradient(
      closest-side,
      hsla(0, 0%, 50%, 1.0),
      hsla(0, 0%, 50%, 0) 100%);
    position: relative;
    margin-bottom: 85px;
    width: 600px;
  }

  .AboutMeText {
    text-align: justify;
    padding: 30px;
    width: 50px;
  }


  .skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

.Section3 {
    height: 100vh;

}
 

 /* Change background color of buttons on hover */
 .tab button:hover {
   background-color: rgb(123, 177, 187);
 }
 
 /* Create an active/current tablink class */
 .active {
   background-color: rgb(14, 54, 187);
 }
 
 /* Style the tab content */
 .tabcontent {
   display: none;
   padding: 6px 12px;
 }


 * {
   box-sizing: border-box;
}
.wrapper {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}
.card {
   width: 420px;
   height: 340px;
   margin: 1em;
   perspective: 1500px;
   text-align: center;
}
.card .content {
   position: relative;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.more {
   display: none;
}
.more:checked ~ .content {
   transform: rotateY(180deg);
}
.front, .back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   transform-style: preserve-3d;
   border-radius: 6px;
}
.front .inner, .back .inner {
   height: 100%;
   display: grid;
   padding: 1.5em;
   transform: translateZ(80px) scale(0.94);
}
.front {
   background-color: #fff;
   background-size: cover;
   background-position: center center;
}
.front:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: block;
   border-radius: 6px;
   backface-visibility: hidden;
   background: linear-gradient(40deg, rgba(67, 138, 243, 0.7), rgba(255, 242, 166, 0.7));
}
.front .inner {
   grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
   justify-items: center;
}
.front h2 {
   grid-row: 2;
   margin-bottom: 0.3em;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
   font-weight: 500;
   text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.front .rating {
   grid-row: 3;
   color: rgba(255, 255, 255, 0.8);
   font-size: 14px;
   display: flex;
   flex-flow: row nowrap;
}
.front .rating i {
   margin: 0 1px;
}
.back {
   transform: rotateY(180deg);
   background-color: #fff;
   border: 2px solid #f0f0f0;
   padding: 10px;
}
.back .inner {
   grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
   grid-template-columns: repeat(4, auto);
   grid-column-gap: 0.8em;
   justify-items: center;
}
.back .info {
   position: relative;
   display: flex;
   align-items: center;
   color: #355cc9;
   grid-row: 3;
}
.back .info:not(:first-of-type):before {
   content: "";
   position: absolute;
   left: -0.9em;
   height: 18px;
   width: 1px;
   background-color: #ccc;
}
.back .info span {
   font-size: 2em;
   font-weight: 700;
}
.back .info i {
   font-size: 1.2em;
}
.back .info i:before {
   background: linear-gradient(40deg, #355cc9, #438af3);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}
.back .info .icon {
   margin-left: 0.3em;
}
.back .info .icon span {
   display: block;
   margin-top: -0.25em;
   font-size: 0.8em;
   font-weight: 600;
   white-space: nowrap;
}
.back .description {
   grid-row: 5;
   grid-column: -1;
   font-size: 0.86em;
   border-radius: 5px;
   font-weight: 600;
   line-height: 1.4em;
   overflow: auto;
   color: #355cc9;
   padding-right: 10px;
}
.back .location, .back .price {
   font-weight: 600;
   color: #355cc9;
   grid-row: 1;
   font-size: 0.86em;
}
.back .location {
   grid-column: 0.3333333333;
   justify-self: left;
}
.back .price {
   grid-column: -3;
   justify-self: right;
}
.back .button {
   grid-column: -1;
   justify-self: center;
}
.button {
   grid-row: -1;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 600;
   cursor: pointer;
   display: block;
   padding: 0 1.5em;
   height: 3em;
   line-height: 2.9em;
   min-width: 3em;
   background-color: transparent;
   border: solid 2px #fff;
   color: #fff;
   border-radius: 4px;
   text-align: center;
   left: 50%;
   backface-visibility: hidden;
   transition: 0.3s ease-in-out;
   text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.button:hover {
   background-color: #fff;
   box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
   text-shadow: none;
   color: #355cc9;
}
.button.return {
   line-height: 3em;
   color: #355cc9;
   border-color: #355cc9;
   text-shadow: none;
}
.button.return:hover {
   background-color: #355cc9;
   color: #fff;
   box-shadow: none;
}
::-webkit-scrollbar {
   width: 5px;
}
::-webkit-scrollbar-track {
   background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
   background: #859ddf;
}
::-webkit-scrollbar-thumb:hover {
   background: #355cc9;
}

